# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.SolokLibrary.iml
/contentModel.xml
/modules.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\IRFAN\Repos\Unturned\My Plugin Source\Rocketmod\SolokLibrary\.idea\.idea.SolokLibrary.dir\.idea/dataSources/
/dataSources.local.xml
